head
  meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker")
  link(type="text/css", rel="stylesheet", href="./css/styles.css")
  script(src="./vendor/google-analytics.js")
  script(src="./vendor/p5.min.js")
  script(src="./js/background-stars.js")
