include ./head.jade
body
  .container
    h1 Louis Knapp
    ul
      li dwells in #[a(href="https://en.wikipedia.org/wiki/Rogers_Park,_Chicago" target="_blank") Rogers Park]
      li coördinates swdev at #[a(href="https://www.grainger.com" target="_blank") Grainger]
      li wrenches around at #[a(href="http://therecyclery.org/" target="_blank") The Recyclery]
      li fabricates at #[a(href="http://ciadc.org/" target="_blank") CIADC]
