include ./head.jade
body
  .container
    h1 Ripple
    p At Ripple, we are committed to protecting the privacy of our users. Our app does not collect, store, or share any personal information on behalf of its users.
    p We understand the importance of privacy and take it very seriously. We do not even collect information regarding the usage of the app, such as the number of times it has been opened and the features that have been used.
    p We do not sell, rent, or share any information with third parties for marketing purposes or for any other reason.
    p Thank you for using Ripple. We appreciate your trust in us and are committed to protecting your privacy.
