body {
  font-family: 'Open Sans';
  color: #FFC6FF;
  margin: 0;
}
.container {
  position: fixed;
  margin: 0;
  width: 100%;
}
h1 {
  font-family: "Permanent Marker";
  padding-top: 15%;
  color: #FFC6FF;
  text-align: center;
  font-size: 5em;
}
ul {
  padding: 0 25%;
}
p {
  padding: 0 25%;
}
a {
  color: #B0DAEF;
  text-decoration: none;
}
